{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}


{% block body %}
	<br>
	<h1>Catégories</h1>
	<br>
	{% for category in categories %}

		<article>
			<h3>{{ category.title }}</h3>
			<div class="content">
				<img src="{{ category.image }}" width="350" length="150" alt=""><br><br>
			</div>
			<div>
				<p>{{ category.content }}</p>
			</div>
			<a href="{{ path('favorites') }}" class="btn btn-primary">Consulter la catégorie
				{{ category.title }}</a>
		</article>
		<br>
	{% endfor %}
{% endblock %}
