{% extends 'base.html.twig' %}

{% block title %}Mes favoris
{% endblock %}

{% block body %}
	<br>
	<h1>Mes favoris</h1>
	<br>
{% for recipe in recipes %}
{% if recipe.favorite == true %}
		<article>
			<h3>{{ recipe.title }}</h3>
			<div class="metadata">Ecrit le
				{{recipe.createdAt | date('d/m/Y') }}
				à
				{{recipe.createdAt | date('H:i') }}</div>
			<br>
			<div class="content">
				<img src="{{ recipe.image }}" width="350" length="150" alt=""><br><br>
				<a href="{{ path('recipe_show', {'id':recipe.id}) }}" class="btn btn-primary">Consulter la recette</a>
			</div>
		</article>
		<br>
{% endif %}
{% endfor %}

{% endblock %}
