{% extends "base.html.twig" %}

{% block title %}
	{{ recipe.title }}
{% endblock %}


{% block body %}

	<br>
	<article>
		<div class="row">
			<div class="column">
				<h3>{{ recipe.title }}
					&nbsp;</h3>
			</div>
			<div class="column">
				<a href="{{ path('recipe_edit', {'id':recipe.id}) }}" class="btn btn-primary">
					Modifier la recette
				</a>
			</div>
			<div class="column">
				<p>&ensp;</p>
			</div>
			<div class="column">
				<a href="{{ path('comment_create', {'id':recipe.id}) }}" class="btn btn-primary">
					Ajouter un commentaire</a>
			</div>
		</div>
		
	<div class="metadata">Ecrit le
		{{recipe.createdAt | date('d/m/Y') }}
		à
		{{recipe.createdAt | date('H:i') }}</div>
	<br>
	<div class="content">
		<img src="{{ recipe.image }}" width="350" length="150" alt=""><br><br>
	</div>
	<h5>Description recette :</h5>
	<div>
		{{ recipe.content }}
	</div>
	<br>
	<div>
		<h5>Difficulté :</h5>
		<p>{{ recipe.difficulty }}</p>
	</div>
	<div>
		<h5>Portions :</h5>
		<p>{{ recipe.portions }}</p>
	</div>
	<div>
		<h5>Temps de préparation :</h5>
		<p>{{ recipe.time }}
			minutes</p>
	</div>
</article>
<br>
<br>
<h5>Commentaires :</h5>
<hr>
<section id="commentaires">
	{% for comment in recipe.comments %}
		<div clas="comment">
			<div class="row">
				<div class="col-3">
					{{comment.author}}
					(<small>{{comment.createdAt | date('d/m/Y H:i')}}</small>)
				</div>
				<div class="col">
					{{ comment.content }}
				</div>
			</div>
		</div>
		<hr>
	{% endfor %}
</section>{% endblock %}
